name: Clock_in

on:
  schedule:
    - cron: '0 23 * * *'

  workflow_dispatch:

jobs:
  Clock_in:
    runs-on: ubuntu-latest

    steps:
      - name: Check out this repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'
          
      - name: Install packages 
        run: pip3 install requests loguru

      - name: Run the script
        run: python fuck_jdsd.py
